
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div>
        <h3>Add new</h3>
        <form action="/dict/addsave" method="post">
            <input type="number" name="id" placeholder="id" /><br/>
            <input type="text" name="name"  placeholder="name"/><br />
            <input type="text" name="spec"  placeholder="spec"/><br />
            <input type="number" name="syear"  placeholder="syear"/><br />
            <input type="date" name="bdate"  placeholder="bdate"/><br />
            <input type="submit" />
        </form>
    </div>
</body>
</html>
