
@{
    Layout = null;
    ViewBag.Title = "Delete";
}

<!DOCTYPE html>
<html>
<head>
    <title>Hello world</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <p>You are trying to delete item @ViewBag.id, Are you sure?</p>
    <form method="POST" action="/HW/delete">
        <input type="hidden" name="id"/>
        <input type="submit" value="Yes" />
    </form>
    <a href="/">Main page</a>
</body>
</html>



