
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Yeah</title>
</head>
<body>
    <ul>
        <li>
            <a href="/CHResearch/AD">AD (cache 5 seconds)</a>
        </li>
        <li>
            <a href="/CHResearch/AP">AP (cache 7 seconds)</a>
        </li>
    </ul>
</body>
</html>